<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>Title</title>
    <style type="text/css">
        html,body{
            margin: 0;
            padding: 0;
        }
        .box{
            width: 100%;
            margin: 20px 0;
            border: 1px solid #dddddd;
            box-shadow: 2px 2px 5px #dddddd;
            position: relative;
            overflow: hidden;
            margin-bottom: 150px;
        }
        .box img{
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        .placeholder{
            padding-bottom: 66.6%;
        }

    </style>

</head>
<body>
    <div class="box"><img src="http://ojp8ivtxn.bkt.clouddn.com/20171016_WechatIMG1424.jpeg" alt=""><div class="placeholder"></div></div>
    <div class="box"><img src="http://ojp8ivtxn.bkt.clouddn.com/20171016_WechatIMG1420.jpeg" alt=""><div class="placeholder"></div></div>
    <div class="box"><img src="http://ojp8ivtxn.bkt.clouddn.com/20171016_WechatIMG1415.jpeg" alt=""><div class="placeholder"></div></div>
    <div class="box"><img src="http://ojp8ivtxn.bkt.clouddn.com/20171016_WechatIMG1413.jpeg" alt=""><div class="placeholder"></div></div>
    <div class="box"><img src="http://ojp8ivtxn.bkt.clouddn.com/20170922_WechatIMG245.jpeg" alt=""><div class="placeholder"></div></div>
    <div class="box"><img src="http://ojp8ivtxn.bkt.clouddn.com/20171001_WechatIMG1257.jpeg" alt=""><div class="placeholder"></div></div>
    <div class="box"><img src="http://ojp8ivtxn.bkt.clouddn.com/20170922_WechatIMG229.jpeg" alt=""><div class="placeholder"></div></div>
    <div class="box"><img src="http://ojp8ivtxn.bkt.clouddn.com/20170918_WechatIMG385.jpeg" alt=""><div class="placeholder"></div></div>
    <div class="box"><img src="http://ojp8ivtxn.bkt.clouddn.com/20171001_WechatIMG1255.jpeg" alt=""><div class="placeholder"></div></div>
    <div class="box"><img src="http://ojp8ivtxn.bkt.clouddn.com/20171001_WechatIMG1252.jpeg" alt=""><div class="placeholder"></div></div>
    <div class="box"><img src="http://ojp8ivtxn.bkt.clouddn.com/20170924_WechatIMG1063.jpeg" alt=""><div class="placeholder"></div></div>

</body>
</html>