<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>Title</title>
    <style type="text/css">
        html,body{
            margin: 0;
            padding: 0;
        }
        .wrapper{
            max-width: 1200px;
            margin: 0 auto;
        }
        .container{
        }
        .placeholder{
            max-width: 1000px;
            max-height: 787px;
            background-color: #eeeeee;
            width: 100%;
            margin: 0 auto;
            position: relative;
            top:20px;
        }
        .placeholder img{
            width: 100%;
            top: 0;
            left: 0;
        }
        .page-header{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div class="page-header">普通网页</div>

        <div class="container">
            <div class="placeholder">
                <img class="small-img" src="http://image-demo.oss-cn-hangzhou.aliyuncs.com/example.jpg" alt="">
            </div>
            <div class="placeholder">
                <img class="small-img" src="https://cdn-images-1.medium.com/max/2000/1*aKquCUexLfsmATfT3WdYFw.jpeg" alt="">
            </div>
        </div>
    </div>

</body>
</html>